.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.card-details li {
  text-align: justify;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #1f2937; /* Tailwind gray-800 */
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}
.card-header:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.card-details {
  transition: max-height 0.3s ease;
}
.card-details.hidden {
  max-height: 0;
  overflow: hidden;
}
.card-details:not(.hidden) {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;  /* Allow vertical scroll */
}
.book-img {
  width: 150px;
  height: 100px;
  max-width: 150px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
}
